@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Source+Sans+Pro:200,400,600&display=swap');

:root {
    --light-blue: #e1f7f5;
    --purple: #533777;
    --light-purple: #c290d2;
    --font-family-sans-serif: 'Source Sans Pro', sans-serif ;
    --font-family-serif: 'Merriweather', serif ;
}

.family-sans {
    font-family: var(--font-family-sans-serif);
}

body {
    font-family: var(--font-family-sans-serif);
    color: var(--gray-dark);
    font-weight: 200;
}

.layout-social .layout-social-icon {
    font-size: 2em ;
}

.site-header {
    background-image: linear-gradient(
        rgba(83, 55, 119, 0.7),
        rgba(83, 55, 119, 0.5)
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header .layout-hero {
    min-height: 50vh;
}

.site-header .page-section-title {
    font-size: 3em;
    font-weight: 200;
    font-family: var(--font-family-sans-serif);
}

.site-header .page-section-text {
    font-size: 1.2em;
}



.page-section-header .page-section-title {
    font-size: 4em;
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
    color: var(--purple);
}

.page-section-header .page-section-text {
    font-size: 1.2em;
}

.layout-media .layout-image {
    max-width: 200px;

}

.layout-media .layout-title,
.layout-nested .layout-title  {
    color: var(--purple);
    font-family: var(--font-family-sans-serif);

}

.layout-media .layout-title {
    font-weight: 200;
    font-size: 1.7em;
}

.layout-nested .layout-title  {
    font-size: 2.2em;
}




.layout-photogrid .layout-image {
    background-color: var(--light-blue);
}

.layout-text {
    font-size: 1.2em;
}

/* Second Section */
#page-muticolumn {
    background-color: var(--light-blue);
}

#page-carousel {
    background-color: var(--light-purple);
}

.icon {
    display: inline-block;
    font-size: inherit;
    overflow: visible;
    vertical-align: -0.125;
    text-rendering: auto;
    fill: gray !important;
    width: 70px;
    height: 70px;
}